<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= user.name %></h1>
    <p>ID: <%= user.id %></p>
    <p>Email: <%= user.email %></p>
    <a href="/">Back to Home</a>
  </body>
</html>
